<a href="{{ link }}" class="card_product_mini_link" data-toggle="tooltip" data-placement="bottom"
   title="Cliquer pour + d'infos">
    <div class="card card_product_mini mb-4 img-fluid">
        <img class="card-img-top" alt="nouvelle bouteille" src="{{ image }}">
        <div class="card-img-overlay">
            <span class="card_product_mini_name">
                {{ name }}
            </span><br>
            <span class="card_product_mini_price">
                {{ price }} €
            </span>
        </div>
    </div>
</a>
