<h1>Bonjour !</h1>

<p>Bienvenue sur VinProject !</p>
<p>
    Merci de valider votre adresse mail via ce lien :
    <a href="{{ signedUrl|raw }}">confirmer mon adresse</a>.<br>
    Cela vous permettra de profiter de toutes les fonctionnalités du site !<br>
    Le lien expire dans {{ expiresAt|date('g') }} heures.
</p>
<p>
    Bonne journée,<br>
    L'équipe de VinProject
</p>
