# ####################

# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.phpunit
.phpunit.result.cache
/phpunit.xml

# PHPStorm
.idea/

# Webpack Encore-bundle
/node_modules/
/public/build/
npm-debug.log
yarn-error.log

# liip/imagine-bundle
/public/media/cache/

# macOS
.DS_Store

# ####################

# Spécifique au projet

## Dossier storage (sauf le .gitkeep)
/public/storage/images/post/**
!/public/storage/images/post/.gitkeep
