{% extends 'admin/admin_base.html.twig' %}

{% block title %}Ajouter une région{% endblock %}

{% block body %}
    <div class="card mx-auto medium_form">
        <div class="card-body">
            <h5 class="card-title">Ajouter une région</h5>
            {% include 'admin/shop/region/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
