{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    {{ include('components/titles/title-admin.html.twig',
        { title: "Espace d'administration - Ô Melchior" }) }}

    <div class="fixed-bottom mb-2 ml-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    id="dropdownDangerButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownDangerButton">
                <a class="dropdown-item" href="{{ path('admin_banned_domain_index') }}">
                    Banned domain
                </a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
{% endblock %}
