/* ********************** */
/* ***** Remise à 0 ***** */
/* ********************** */

.btn {
  -webkit-appearance: none;
}

/* ******************* */
/* ***** Imports ***** */
/* ******************* */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

@import "common/color";
@import "common/font";

/* ************************************** */
/* ***** Définition de la structure ***** */
/* ************************************** */

body {
  height: 100%;
  font-family: $font-text;
  background-color: $lightgrey;
}

#body {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

/* *********************** */
/* ***** Utilitaires ***** */
/* *********************** */

// Afficher/masquer mobile
.mobile_only {
  @media (min-width: 767px) {
    display: none;
  }
}
.mobile_hidden {
  @media (max-width: 767px) {
    display: none;
  }
}

.hidden {
  display: none;
}

.color_primary {
  color: $primary;
}

.color_secondary {
  color: $secondary;
}

.bg_primary {
  background-color: $primary;
  color: $white;
}

.bg_secondary {
  background-color: $secondary;
  color: $white;
}

/* ****************** */
/* ***** Titres ***** */
/* ****************** */

h1 {
  font-family: $font-title;
  font-size: 45px;
}

// //////////////// TODO à trier

.short_form {
  max-width: 500px;
}

.medium_form {
  max-width: 800px;
}

.is-loading::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  opacity: .5;
  z-index: 4;
}

.is-loading .spinner-border {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 5;
}

.ad_special {
  background-color: $yellow;
  color: white;
  position: fixed;
  bottom: 25px;
  width: 100%;
  font-weight: bold;
}

// deprecated

.separator {
  margin-bottom: 15px;
}

/* ******************** */
/* ******************** */

@import "common/navbar";
@import "common/footer";
@import "common/toast";
@import "components/cards/card-product-mini";
@import "components/titles/title1";
@import "home";
@import "blog";
@import "shop";
@import "shop/wine";
