@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('//db.onlinewebfonts.com/c/88d825431bfee24234c96a4170553e7f?family=FF+Mark');
@import "common/color";

body {
  height: 100%;
  font-family: "FF Mark", sans-serif;
  background-color: $lightgrey;
}

#body {
  margin: 15px;
  height: 100%;
}

.separator {
  margin-bottom: 15px;
}

@import "common/navbar";
@import "common/toast";
@import "home";
@import "user/login";
@import "blog";
