@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');
@import "common/color";

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: $lightgrey;
}

#body {
  margin: 15px;
  height: 100%;
}

.separator {
  margin-bottom: 15px;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 45px;
}

.h1_bottle {
  height: 45px;
}

.short_form {
  max-width: 500px;
}

.medium_form {
  max-width: 800px;
}

.hidden {
  display: none;
}

.is-loading::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  opacity: .5;
  z-index: 4;
}

.is-loading .spinner-border {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 5;
}

@import "common/navbar";
@import "common/footer";
@import "common/toast";
@import "home";
@import "blog";
@import "shop";
