@import "common/color";

.wine_list_item {
  list-style: none;
}

.region_wine_link {
  text-decoration: none;
}

.wine_color_Rouge {
  color: $wine_red;
}

.wine_color_Blanc {
  color: $wine_white;
}

.wine_color_Rosé {
  color: $wine_pink;
}

.wine_img_desc {
  max-height: 380px;
}

.wine_img_desc > img {
  height: 100%;
}

.wine_name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.wine_price {
  font-weight: bold;
}

.wine_price > small {
  font-size: 16px;
  margin-left: 20px;
}

/* *** Beer *** */

.beer_img_desc {
  max-height: 380px;
}

.beer_img_desc > img {
  height: 100%;
}

.beer_name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.beer_price {
  font-weight: bold;
}

.beer_price > small {
  font-size: 16px;
  margin-left: 20px;
}

.search_card {
  max-width: 253px;
  margin-left: auto;
  margin-right: auto;
}
