@import "common/color";

.card_appellation > .card-header {
  background-color: $bordeau;
  font-size: 26px;
  font-family: 'Baloo Tammudu 2', sans-serif;
  padding-bottom: 0;
}

.card_appellation > .card-header a {
  color: $white;
}

.card_appellation > .card-header a:hover {
  opacity: 0.8;
}

.card_appellation > .card-body {
  padding-bottom: 0px;
}

.card_productor {
  border-radius: 0 !important;
}

.card_left_productor {
  background-color: $vert;
  font-size: 20px;
  font-family: 'Baloo Tammudu 2', sans-serif;
  padding-bottom: 0;
  border-radius: 0 !important;
}

.card_left_productor a {
  color: $white;
}

.card_left_productor a:hover {
  opacity: 0.8;
}

.card_right_productor {
  background-color: $lightgrey;
  border-radius: 0 !important;
}

.card_right_productor > ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wine_list_item {
  list-style: none;
}

.region_wine_link {
  text-decoration: none;
}

.wine_color_Rouge {
  color: $wine_red;
}

.wine_color_Blanc {
  color: $wine_white;
}

.wine_color_Rosé {
  color: $wine_pink;
}

.wine_img_desc {
  max-height: 380px;
}

.wine_img_desc > img {
  height: 100%;
}

.wine_name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.wine_price {
  font-weight: bold;
}

.wine_price > small {
  font-size: 16px;
  margin-left: 20px;
}

/* *** Beer *** */

.beer_img_desc {
  max-height: 380px;
}

.beer_img_desc > img {
  height: 100%;
}

.beer_name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.beer_price {
  font-weight: bold;
}

.beer_price > small {
  font-size: 16px;
  margin-left: 20px;
}
