<div class="card card_appellation">
    <div class="card-header">
        <a href="{{ path('shop_appellation',
            { id: appellation.id, slug: appellation.slug }) }}">
            {{ appellation.name }}
        </a>
    </div>
    <div class="card-body">
        {% for productor in appellation.productors %}
            {{ include('shop/_productor_list_item.html.twig',
                {productor: productor}) }}
        {% endfor %}
    </div>
</div>
<div class="separator"></div>