{% extends 'base.html.twig' %}

{% block title %}Liste des bières{% endblock %}
{% block description %}
    <meta name="description" content="Toutes les bières en vente.">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}"
                     alt="bouteille" class="h1_bottle">
                La Cave en Ligne : Liste de nos bières
            </h1>
            <hr>

            <ul class="list-group">
                {% for beer in allBeer %}
                    <li class="list-group-item wine_list_item">
                        <i class="fas fa-beer"></i>
                        &nbsp;
                        <a href="{{ path('shop_beer', {id: beer.id, slug: beer.slug}) }}"
                           class="region_wine_link">
                            {{ beer.name }}
                        </a>
                        -
                        {{ beer.price }} €

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
