{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}
{% block description %}
    <meta name="description" content="La boutique de VinProject, retrouvé toutes nos bouteilles !">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}"
                     alt="bouteille" class="h1_bottle">
                La Cave en Ligne !
            </h1>
            <hr>

            <ul class="list-group">
                {% for wine in wines %}
                    <li class="list-group-item wine_list_item">
                        {{ include('shop/_whine_list_item.html.twig', { wine: wine }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
