{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}
{% block description %}
    <meta name="description" content="La boutique de VinProject, retrouvé toutes nos bouteilles !">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}" alt="bouteille" class="h1_bottle">
                La Cave en Ligne !
            </h1>
            <hr>

            {# TODO travailler cette vue #}
            <ul class="list-group">
                {% for region in regions %}
                    <li class="list-group-item">{{ region.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
