<div aria-live="polite" aria-atomic="true" class="flash_container">
    <div class="toast_align">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                {% include 'common/toast.html.twig'
                    with { 'type': type, 'message': message | trans } %}
            {% endfor %}
        {% endfor %}
    </div>
</div>