<nav id="navbar">
    <img src="{{ asset('build/images/wine.svg') }}" alt="Vin Project logo" id="logo">
    <div id="navigation">
        <div id="navigation_top">
            <div id="navigation_site">
                <ul>
                    <li><a href="todo">Accueil</a></li>
                    <li><a href="todo">Blog</a></li>
                    <li><a href="todo">Catalogue</a></li>
                    <li><a href="todo">Contact</a></li>
                </ul>
            </div>
            <div id="navigation_icon">
                <ul>
                    <li>
                        <a href="todo">
                            <i class="fas fa-user"></i>
                            Connexion
                        </a>
                    </li>
                    <li>
                        <a href="todo">
                            <i class="fas fa-shopping-cart"></i>
                            Panier
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="navigation_bottom">
            <ul>
                <li><a href="todo">Catégorie 1</a></li>
                <li><a href="todo">Catégorie 2</a></li>
                <li><a href="todo">Catégorie 3</a></li>
                <li><a href="todo">Catégorie 4</a></li>
                <li><a href="todo">Catégorie 5</a></li>
                <li><a href="todo">Catégorie 6</a></li>
                <li><a href="todo">Catégorie 7</a></li>
                <li><a href="todo">Catégorie 8</a></li>
                <li><a href="todo">Catégorie 9</a></li>
                <li><a href="todo">Catégorie 10</a></li>
            </ul>
        </div>
    </div>
</nav>
