@import "color";

/**
 * Liens de navigation.
 */
.navbar-dark .navbar-nav .nav-link {
  color: $lightgrey;
}

/**
 * Liens de navigation (survol).
 */
.navbar-dark .navbar-nav .nav-link:hover {
  color: $beige;
  border-bottom: 4px solid;
  padding-bottom: 4px;
}

/**
 * Lien actif.
 */
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: $beige;
  border-bottom: 4px solid;
  padding-bottom: 4px;
}

.navbar_bg {
  background-color: $bordeau;
}
