{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="card mx-auto short_form mt-3 mb-3">
        <div class="card-body">
            <h5 class="card-title">Modifier mon mot de passe</h5>
            {{ form_start(editPasswordForm) }}
            {{ form_row(editPasswordForm.oldPassword) }}
            {{ form_row(editPasswordForm.plainPassword) }}

            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Sauvegarder
                </button>
            </div>
            {{ form_end(editPasswordForm) }}
        </div>
    </div>
{% endblock %}
