{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    <div class="card mx-auto short_form">
        <div class="card-body">
            <h5 class="card-title">Réinitialiser mon mot de passe</h5>
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Sauvegarder</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
