{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <p>
        Un email contenant un lien pour réinitialiser votre mot de passe a été envoyé.
        Ce lien expire dans {{ tokenLifetime|date('g') }} heure(s).
    </p>
    <p>
        Si vous ne recevez pas de mail vérifiez votre dossier de courrier indésirable
        ou <a href="{{ path('password_reset_forgot') }}">réésayé</a>.
    </p>
{% endblock %}
