{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier une appellation{% endblock %}

{% block body %}
    <div class="card mx-auto medium_form">
        <div class="card-body">
            <h5 class="card-title">Modifier l'appellation {{ appellation.name }}</h5>
            {% include 'admin/shop/appellation/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
