{% extends 'base.html.twig' %}

{% block title %}{{ appellation.name }}{% endblock %}
{% block description %}
    <meta name="description" content="Tous les vins de l'appellation {{ appellation.name }}">
{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3">
        {{ include('components/titles/title1.html.twig', { title: appellation.name }) }}
        <div>
            {% for productor in appellation.productors %}
                {{ include('shop/wine/_productor_list_item.html.twig',
                    {productor: productor}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
