<h1>Bonjour !</h1>

<p>
    Pour réinitialiser votre mot de passe,
    <a href="{{ url('user_forgot_password_reset', {token: resetToken.token}) }}">
        cliquez-ici
    </a>.
    Ce lien expire dans {{ tokenLifetime|date('g') }} heure(s).
</p>

<p>
    Bonne journée,<br>
    L'équipe de VinProject
</p>